---
import Layout from '../layouts/Layout.astro';
import WeekExpensesChart from '../components/WeekExpensesChart.astro';

const url = Astro.url.origin;
const response = await fetch(`${url}/data.json`);
const data = await response.json();

const {
  currentBalance,
  currentDay,
  currentMonthExpenses,
  pastMonthExpenses,
  expensesObject,
} = data;
---

<Layout title="Frontend Mentor | Expenses chart component">
  <main>
    <WeekExpensesChart
      balance={currentBalance}
      currentDay={currentDay}
      currentMonthExpenses={currentMonthExpenses}
      expensesObject={expensesObject}
      pastMonthExpenses={pastMonthExpenses}
    />
  </main>
</Layout>

<style>
  main {
    height: 100%;
    display: grid;
  }
</style>
