---
export type WeekDay = 'mon' | 'tue' | 'wed' | 'thu' | 'fri' | 'sat' | 'sun';

export interface DayExpense {
  day: WeekDay;
  amount: number;
}

export interface Props {
  expensesObject: DayExpense[];
  currentDay: WeekDay;
  currentMonthExpenses: number;
  class?: string;
  balance?: number;
  pastMonthExpenses?: number;
}

const {
  balance,
  class: className,
  currentDay,
  currentMonthExpenses,
  expensesObject,
  pastMonthExpenses,
} = Astro.props;

const totalChartHeight = 150;

const getPercentageIncrease = (c: number, p?: number) =>
  p ? Number((((c - p) / p) * 100).toFixed(1)) : undefined;

const maxExpensesDay = Math.max(...expensesObject.map(e => e.amount));

expensesObject.map(e => {
  //percent respect to the max expenses day p/t = x/100
  e.amount = (e.amount * 100) / maxExpensesDay;
  //pixels respect to the max pixels set x/t = %/100
  e.amount = Number(((e.amount * totalChartHeight) / 100).toFixed(1));
  return e;
});

const percentageIncrease = getPercentageIncrease(
  currentMonthExpenses,
  pastMonthExpenses,
);
---

<section class:list={[className]}>
  {
    balance ? (
      <header class="chart__header">
        <h2 class="chart__header_text">My balance</h2>
        <p class="chart__header_balance">{`$${balance}`}</p>
      </header>
    ) : null
  }

  <div class="chart__chart_container">
    <h1 class="chart__chart_container__header">Spending - Last 7 days</h1>
    <div class="chart__chart_container__chart">
      {
        expensesObject.map(e => (
          <div class="chart_slice">
            <div
              class:list={['chart_bar', { current_day: e.day === currentDay }]}
              style={{ height: `${e.amount}px` }}
            />
            <p class="chart_label">{e.day}</p>
          </div>
        ))
      }
    </div>
    <footer class="chart__footer">
      <div class="chart__footer_this_month">
        <p class="chart__footer_this_month__text">Total this month</p>
        <p class="chart__footer_this_month__expense">
          {`$${currentMonthExpenses}`}
        </p>
      </div>
      {
        percentageIncrease ? (
          <div class="chart__footer_prev_month">
            <p class="chart__footer_prev_month__expense">
              {`${percentageIncrease > 0 ? '+' : ''}${percentageIncrease}%`}
            </p>
            <p class="chart__footer_prev_month__text">from last month</p>
          </div>
        ) : null
      }
    </footer>
  </div>
</section>

<style>
  .chart__header {
    background-image: url(/images/logo.svg);
    background-repeat: no-repeat;
    background-position: right 8.5% top 49%;
    background-size: 61px;
    background-color: var(--soft-red);
    border-radius: 10px;
    color: var(--very-pale-orange);
    padding-left: 20px;
    height: 97px;
  }

  .chart__header_text {
    padding-top: 17px;
    font-size: medium;
    font-weight: 400;
    letter-spacing: -0.6px;
  }

  .chart__header_balance {
    padding-top: 0.5px;
    font-size: x-large;
    font-weight: 700;
  }

  .chart__chart_container {
    background-color: var(--very-pale-orange);
    border-radius: 10px;
    margin-top: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .chart__chart_container__header {
    padding-top: 21px;
    font-size: x-large;
    color: var(--very-dark-brown);
    margin-bottom: 17px;
  }

  .chart__chart_container__chart {
    height: 235px;
    border-bottom: 2px solid var(--cream);
    display: flex;
    justify-content: space-between;
  }

  .chart_slice {
    place-self: end;
  }
  .chart_bar {
    background-color: var(--soft-red);
    border-radius: 5px;
  }

  .current_day {
    background-color: var(--cyan);
  }
  .chart_label {
    min-width: 33px;
    padding-bottom: 22px;
    padding-top: 10px;
    font-size: small;
    text-align: center;
    color: var(--dark-brown);
  }

  .chart__footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 112px;
  }

  .chart__footer_this_month {
    margin-top: 23px;
    place-self: start;
    display: flex;
    flex-direction: column;
    gap: 1px;
  }

  .chart__footer_this_month__text {
    color: var(--dark-brown);
    font-size: smaller;
  }
  .chart__footer_this_month__expense {
    color: var(--very-dark-brown);
    font-size: 30px;
    font-weight: 700;
    text-align: left;
  }

  .chart__footer_prev_month {
    place-self: start end;
    text-align: right;
    margin-top: 47px;
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  .chart__footer_prev_month__expense {
    color: var(--very-dark-brown);
    font-size: medium;
    font-weight: 700;
    line-height: 18px;
  }
  .chart__footer_prev_month__text {
    line-height: 18px;
    color: var(--dark-brown);
    font-size: smaller;
  }

  @media screen and (min-width: 1000px) {
    .chart__header {
      height: 125px;
      background-size: 72px;
      background-position: top 53%;
      padding-left: 30px;
    }
    .chart__header_text {
      padding-top: 24px;
      font-size: large;
      letter-spacing: -0.1px;
    }

    .chart__header_balance {
      padding-top: 4px;
      font-size: xx-large;
    }
    .chart__chart_container {
      margin-top: 22px;
    }
    .chart__chart_container__header {
    }
    .chart__chart_container__chart {
    }
    .chart_slice {
    }
    .chart_bar {
    }
    .current_day {
    }
    .chart_label {
    }
    .chart__footer {
    }
    .chart__footer_this_month {
    }
    .chart__footer_this_month__text {
    }
    .chart__footer_this_month__expense {
    }
    .chart__footer_prev_month {
    }
    .chart__footer_prev_month__expense {
    }
    .chart__footer_prev_month__text {
    }
  }
</style>
